@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    width: 50px;
}

/*Quando un elemento float si trova in mezzo ad altri due usare questo per distanziarli*/
.element-center {
    margin: 0 5%;
}
/*Provare a rifare tutto con le percentuali*/

/*larghezza elementi*/

.large-width {
    width: 1000px;
    margin: auto;
}

.medium-width {
    width: 800px;
    margin: auto;
    padding-top: 70px;
}

.light-blue {
    background-color: #BACEE5;
}

/*Testo*/

.title {
    font-weight: bold;
}

section .title {
    font-size: 30px;
}

.purple {
    color: #561C2F;
}
/*Comportamento collegamenti*/

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/*Bottoni*/

.button {
    padding: 0.2em 1em;
}

.button.blue {
    background-color: #3A61F8;
    color: white;
}

.button.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*Header*/

header .container {
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 20px;
    position: fixed;
    min-width: 960px;
    border-bottom: 1px solid gray;
    z-index: 999;
}

.logo {
    float: left;
    display: inline-block;
    margin-right: 15px;
}

.logo img {
    width: 100px;
}

header nav {
    display: inline-block;

}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

header .button {
    float: right;
    margin-left: 15px;
}

/*Prima sezione*/

#section-one {
    padding-top: 60px;
}

#section-one .large-width {
    margin-top: 100px;
}

#section-one .title{
    font-size: 50px;
}

#jumbo {
    position: relative;
    top: 50px;
}

#jumbo-img {
    float: right;
    width: 650px;
}

#jumbo-text {
    float: left;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

/*Seconda sezione*/

#second-section {
    padding-top: 150px;
}

#second-section .title {
    margin-bottom: 50px;
}

#fatturazioni {
    margin-bottom: 30px;
}

.plans {
    margin-top: 10px;
}

.plan {
    float: left;
    border: 1px solid gray;
    margin-bottom: 5%;
}

.plan.long {
    width: 30%;
    height: 800px;
}

.plan.large {
    width: 100%;
}

.plan-container {
    padding: 20px
}

.plan-type {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 8px;
}

.plan-type.single::before {

}

.plan-type.team::before {

}

.plan-title {
    font-weight: bold;
}

.plan-price {
    font-weight: bold;
}

.plan-price span {
    color: gray;
    font-weight: lighter;
}

.plan-info {
    margin-top: 25px;
}

.plan-functions {
    margin-bottom: 50px;
}

#enterprise-info {
    font-weight: bold;
}

.plan.large .plan-container {
    position: relative;
}

.plan.large p {
    margin-top: 20px;
}

.plan.large a {
    position: absolute;
    top: 20px;
    right: 20px;
}

#find-partner img {
    width: 55%;
    float: left;
}

#find-partner-info {
    float: left;
    width: 45%;
    padding: 5%;
}

#find-partner-info .title {
    font-size: 17px;
}

/*Terza Sezione*/

.operation {
    float: left;
    width: 30%;
}

.operation img {
    width: 100%;
}

.operation .title {
    font-size: 20px;
}

.operation p {

}

/*Quarta sezione*/

#section-four {
    height: 300px;
}

.partners-container {
    width: 100%;
    margin-bottom: 300px;
}
.partners {
    float: left;
    width: 30%;
    height: 30vw;
}

.partner {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
}

.partner:hover {
    border: 8px solid rgba(255, 255, 255, 0.5);
}

.partner img {
    position: absolute;
    width: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: invert(100%);

}
#partner-designit {
    background-color: #ADD09E;
}

#partner-asu {
    background-color: #561C2F;
}

#partner-uf {
    background-color: #4E8FC9;
}

#partner-topps {
    background-color: #E2442D;
}

#partner-wbr {
    background-color: #BB332B;
}

#partner-hearst {
    background-color: #BACEE5;
}

#partner-lonely {
    background-color: #1F297C;
}

#partner-clearchannel {
    background-color: #F5D850;
}

#partners-description {
    float: left;
    width: 40%;
    height: 30vw;
    background-color: #F5F5F5;
}

#description-container {
    padding: 8%;
}

#partners-description img {
    width: 25%;
}

/*Quinta sezione*/

#section-five .medium-width{
    padding-top: 350px;
    padding-bottom: 100px;
}

#section-five .title {
    float: left;
    width: 50%;
}

#section-five .button {
    float: right;
}