* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementi generali*/

.button {

}

.button .blue {

}

.button .white {

}

/*Header*/

header .container {

}

.logo img {

}

header nav {

}

.nav-left {

}

.nav-right {

}

.nav button {

}

/*Prima sezione*/